.uncrewed{
    position: relative;
    margin: 0;
    padding: 0;
}
.uncrewed-img{
    width: 100%;
    height: 500px;
    
}
.uncrewed-txt{
    position: absolute;
    top: 100px;
    opacity: .7;
    width: 75%;
}